<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div
  class="about-page-container"
  nz-row
  nzJustify="space-around"
  nzAlign="middle">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <h1 class="jail-title">Jail Hub Description</h1>
    <p>
      Jail incarceration is a specific area of criminal legal policy and practice that is especially opaque and often
      overlooked in studies of U.S. incarceration due to data limitations. This platform is designed to increase data
      transparency, replication, and new research around the consequences of U.S. jail incarceration for health,
      wellbeing, and safety. Specifically, it facilitates open access to data and analytic pipelines, enables archiving
      and analysis of investigator-initiated projects, and brings together a community of criminal legal researchers
      dedicated to data transparency, replication, and integration across projects that would otherwise be conducted and
      archived in isolation. This project is led by Naomi Sugie (Sociology, UCLA), Kristin Turney (Sociology, UC
      Irvine), and Chen Li (Computer Science, UC Irvine).
    </p>

    <h2 class="content-title">Key Features</h2>
    <ul class="text-content">
      <li>Supporting low-code/no-code data science using workflows</li>
      <li>Parallel data-processing engine running on computing clusters</li>
      <li>Using the Apache Pekko actor-model system</li>
      <li>Supporting UDFs in Python, R, Java, and Scala</li>
      <li>Supporting ML training and inference</li>
      <li>Including a rich collection of ML operators</li>
      <li>Interactive workflow execution model that supports pausing and resuming</li>
      <li>Supporting collaborations with shared editing, shared execution, and version control</li>
      <li>Supporting debugging, including line-by-line debugging in Python UDFs</li>
      <li>Supporting reproducibility of data analysis</li>
      <li>Region-by-region execution with full pipelining in each region</li>
      <li>Storing execution results using Apache Iceberg</li>
      <li>Supporting version-controlled file collections on S3-compatible storage managed by LakeFS</li>
      <li>Adopting a microservice-based architecture using Kubernetes and Docker</li>
      <li>Supporting computing isolation and storage isolation of multiple tenants</li>
    </ul>
    <img
      class="workflow-gui-screenshot"
      src="../../../../../assets/workflow_gui.png"
      alt="workflow gui screenshot" />

    <h2 class="project-leads-title">Project Leads</h2>
    <div
      class="project-lead-members"
      style="display: flex; gap: 20px; flex-wrap: wrap">
      <div class="team-member">
        <img
          src="../../../../../assets/team/naomi.png"
          alt="Naomi Sugie"
          class="lead-photo"
          style="width: 100px; height: 100px; object-fit: cover" />
        <h3>Naomi Sugie</h3>
        <p>Sociology Professor, UCLA</p>
      </div>
      <div class="team-member">
        <img
          src="../../../../../assets/team/kristin.png"
          alt="Kristin Turney"
          class="lead-photo"
          style="width: 100px; height: 100px; object-fit: cover" />
        <h3>Kristin Turney</h3>
        <p>Sociology Professor, UC Irvine</p>
      </div>
      <div class="lead-member">
        <img
          src="../../../../../assets/team/chen.png"
          alt="Chen Li"
          class="lead-photo"
          style="width: 100px; height: 100px; object-fit: cover" />
        <h3>Chen Li</h3>
        <p>Computer Science Professor, UC Irvine</p>
      </div>
    </div>

    <h2 class="development-team-title">Development Team</h2>
    <div
      class="team-members"
      style="display: flex; gap: 20px; flex-wrap: wrap">
      <div class="team-member">
        <img
          src="../../../../../assets/team/jiadong.png"
          alt="Jiadong Bai"
          class="team-photo"
          style="width: 100px; height: 100px; object-fit: cover" />
        <h3>Jiadong Bai</h3>
        <p>Graduate Student Developer</p>
      </div>
      <div class="team-member">
        <img
          src="../../../../../assets/team/colin.png"
          alt="Colin Harrison"
          class="team-photo"
          style="width: 100px; height: 100px; object-fit: cover" />
        <h3>Colin Harrison</h3>
        <p>Undergraduate Student Developer</p>
      </div>
    </div>

    <h2 class="learn-more-title">Learn More</h2>
    <div class="learn-more-section">
      <p>
        This platform was built using Texera, a system for users with various backgrounds to learn and practice data
        science as well as share and analyze workflows. To learn more, please visit
        <a href="http://texera.io">texera.io</a>. The <a href="https://github.com/Texera/texera">source code</a> of the
        platform is available on GitHub. If you have comments and questions, please send email to
        <img
          src="../../../../../assets/texera_email_screenshot.png"
          alt="texera email screenshot" />
        .
      </p>
    </div>
    <ng-container *ngIf="(isLogin$ | async) === false as isLogin">
      <texera-local-login
        *ngIf="this.config.env.localLogin"
        class="login-container"
        nz-col
        nzFlex="300px">
      </texera-local-login>
    </ng-container>
  </div>
</div>
